@{
    ViewBag.Title = "Index";
}

<div class="hero-unit">
<div>
    <h1>WeebiX</h1>
    <p>
        Play "Dixit" with your friend's!
    </p>

</div>
<a class="btn btn-success btn-large" href="#">Let's go!</a>
</div>
<div class="container">
</div>

